mixin team-member(classes, image_src, span, em)
    div(class= `col-md-3 col-xs-12 ${classes}`)
        a.portfolio-item.col-xs-12(href='#')
            img(src=`assets/images/${image_src}.jpg` , alt=`${image_src}`)
            .portfolio_item_hover
                .item_info
                    span= span
                    br
                    em= em