mixin card(link, one, two, three, four, likeNumber, time)
	.card.hard-shadow
		.card__plate
			.card__plate--one(style=`background-color:#${one}`)
				a(href=`${link}`)
				span= `#${one}`
			.card__plate--two(style=`background-color:#${two}`)
				a(href=`${link}`)
				span= `#${two}`
			.card__plate--three(style=`background-color: #${three}`)
				a(href=`${link}`)
				span= `#${three}`
			.card__plate--four(style=`background-color: #${four}`)
				a(href=(`${link}`))
				span= `#${four}`
		.card__footer
			button.like
				span.lnr.lnr-heart
				span.likesNumber= `${likeNumber}`
			span.time= `${time}`